@import "tailwindcss";

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@theme {
    /* Fonts */
    --font-sans: "Roboto", sans-serif;
    --font-condensed: "Roboto Condensed", sans-serif;

    /* Colors */
    --color-brand: #C1002A;
    --color-button: #D01C23;
    --color-button-secondary: #F8DC00;
}


.image {
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}
