@import "tailwindcss";
@import './components/image.css';
@import "./theme.css";
@import "./components/list.css";

@view-transition {
    navigation: auto;
}

@layer base {
    body {
        color: var(--color-body);
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

